# Polymarket Authentication
PK=your_private_key
BROWSER_ADDRESS=ypur_proxy_address
ODDS_API_KEY=4f5a5a0ecdaec0e7bbbdf7af5b4e9d1d
ODDS_API_REGIONS="us,us_ex"
ODDS_API_MARKETS=h2h
ODDS_API_ODDS_FORMAT=american
ODDS_API_MIN_CONFIDENCE=0.5
ENRICH_WITH_CLOB=true
USE_STORED_EVENTS=false
